/* google font family link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&display=swap');

/* miama font family cdn link */
  @import url('https://fonts.cdnfonts.com/css/miama');

  
*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
:root{
    
    --text-color:rgba(250, 250, 250, 0.623);
    --color:white;
    --button-bg:red;
}
.italianno-regular-font {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
  }
  
body{
    background-color:black;
    box-sizing: border-box;
}
/* header-style here*/
.header{
    max-width:100%;
    min-height:600px;
    background-color:rgba(0,0,0,0.9);
}
/* navbar style here */
.navbar{
    width:90%;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:var(--text-color);
    margin:0px auto;
}
.navbar h1{
    width:50%;
    font-size:2rem;
    color:red;
}
.navbar ul{
   width:40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li{
    width:100px;
    height:30px;
    border-radius: 10px;
    list-style:none;
    text-align: center;
    line-height:30px;
    font-size:1.2rem;
}
.navbar ul #home{
    background-color: red;
}
.navbar ul #home>a{
    color:var(--color);
}
.navbar ul li a{
    text-decoration: none;
    color:var(--text-color);
}
.navbar .menu-icon a{
   font-size:2rem;
   color:var(--color);
   display:none;
}

/* bannar style here */
.header .bannar{
  width:90%;
  min-height:500px;
  display: flex;
  justify-content: space-between;
  margin:0px auto;
}
.bannar-content{
   width:50%;
   height:500px;
   color:var(--color);
   display:flex;
   flex-direction:column;
   justify-content: center;
}
.bannar-content h1{
    width:65%;
    font-size:4.4rem;
    font-weight:800;
    margin-bottom:10px;
}
.bannar-content h1 span{
  font-size:4.8rem;
  font-family:"miama";
  font-weight:400;
  margin:0px 10px;
}
.bannar-content p{
    width:70%;
    text-align: left;
    color:var(--text-color);
    margin-bottom:10px;
    font-size:1.2rem;
}
.bannar-content button[type="submit"]{
    width:180px;
    height:45px;
    border-radius:20px;
    border:none;
    font-size:1rem;
    font-weight:600;
    color:var(--color);
    background-color:red;
    margin-top:10px;
}
.bannar-content button[type="button"]{
    width:180px;
    height:45px;
    border-radius:20px;
    border:none;
    color:var(--color);
    font-size:1rem;
    font-weight:600;
    background-color:transparent;
    border:1px solid white;
    margin-left:10px;
}
.bannar .bannar-image{
  width:50%;
  position: relative;
}
.bannar-image .box-1{
    width:160px;
    height:70px;
    border:none;
    border-radius:10px;
    text-align: center;
    position: absolute;
    bottom:20%;
    left:18%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(116, 114, 114, 0.5);
}
.box-1 .circal{
    width:35px;
    height: 35px;
    border-radius:50%;
    background-color:var(--button-bg);
}
.box-1 .circal i{
  font-size:2rem;
  color:var(--color);
  display:none;
}
.box-content h1{
    font-size:2rem;
    color:var(--color)
}
.box-1 p{
    font-size:1rem;
    color:var(--text-color);
    
}
.bannar-image{
    width:50%;
    height:700px;
}
.bannar-image .box-2{
    width:160px;
    height:70px;
    border:none;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(116, 114, 114, 0.5);
    position: absolute;
    top:15%;
    right:22%;
}
.box-2 .box-2-content>h1{
    font-size:2rem;
    color:var(--color);
}
.box-2-content>p{
    font-size:1rem;
    color:var(--text-color);
}
/* header part responsive */
@media screen and (max-width:576px) {
 .header{
    min-height:100vh;
 }
/* navbar responsive */
 .navbar h1{
    font-size:3rem;
 }
.navbar ul{
    display:none;
}
.navbar .menu-icon a{
    display:block;
}
/* bannar responsive   */
.bannar{
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
}
.bannar-content{
    width:100%;
    height:500px;
}
.bannar-content h1,p{
    width:70%;
    font-size:2.8rem;
}
.bannar-content button{
    width:150px;
    height:60px;
    font-size:1.2rem;
    border-radius:25px;
}
.bannar .bannar-image{
    width:100%;
    position: absolute;
}
.bannar-image .box-1{
    left:18%;
    bottom:32%;
}
.bannar-image .box-2{
    top:20%;
    right:8%;
}
.box-1 .circal i{
    display:block;
}

}

/* main section style */
.main{
    width:100%;
    background:black;
}
.main .habits{
    width:90%;
    min-height:500px;
    margin:0px auto;
    padding-top:50px;
}
.main .habits h1{
    text-align: center;
    font-size:2rem;
    color:var(--color);
    margin-bottom:10px;
    
}
.habits p{
    text-align: center;
    font-size:1rem;
    color:var(--text-color)
}
.habits .grid-boxs{
    width:100%;
    min-height:400px;
    display: grid;
    gap:20px;
    align-content: center;
    text-align: center;
    grid-template-columns:repeat(4,1fr);
}
.grid-boxs .box-item h2{
    color:var(--color);
}
.box-item p{
    color:var(--text-color);
}
.box-item img{
    border-radius:50%;
}

/* habits responsive design */
@media screen and (max-width:576px) {
.habits .grid-boxs{
    grid-template-columns:repeat(1,1fr);
    margin-top:20px;
}  
}